<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Système de contrôle d'accès</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylegestionstation.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
    <meta http-equiv="refresh" content="3">
</head>
<body>

    <header>
        <h1 class="titre">Système de contrôle d'accès</h1>
    </header>

    <div class="dashboard-container">

        <div class="left-panel">

            <div class="alerte-box">
                {{ nbrLogs }}<br>
                Accès Refusés - 24H
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>ID User</th>
                    <th>ID Zone</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in logs %}
                    <tr>
                        <td>{{ ligne['horodatage'] }}</td>
                        <td>{{ ligne['id_user'] }}</td>
                        <td>{{ ligne['id_zone'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <table>
            <thead>
            <tr>
                <th>ZONE</th>
                <th>NBR</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(zonetab|length) %}
                    <tr>
                        <td>{{ zonetab[i]['nom'] }}</td>
                        <td>{{ zonetab[i]['COUNT(nom)'] }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        &copy; 2026 BTS CIEL - Contrôle d'accès
    </footer>

</body>
</html>